body
{
	font-size:.95em;
	line-height: 1.85em; 
	font-family: 'Open Sans', sans-serif;
	width:780px;
	margin-left:auto;
	margin-right:auto;
}
a
{
	color:  #003366;
	text-decoration: none;
}
#pre-header
{
	height:20px;	
}
#header{
	height:100px;
	display: table;
	width: 780px;
	padding: 10px;
	align: center;
}
#header-text
{		
	display: table-cell;
	vertical-align: middle;
	align:center;		
}
#header-text h1
{
	font-family: 'Open Sans', sans-serif;
	font-size:2em;	
}
#header-text h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:1.25em;	
}
#content h1
{
	font-size: 2em;
}
#content h2
{
	margin-bottom:-2px;
}
ul#menu li 
{
    list-style-type: none;
    list-style-position:inside;
	display: inline-block;
    margin:0;
    padding:0;
	padding-right:10px;
}
#menu
{
	padding: 0px;
    position: relative;
    top: 50%;
	margin: 0px;
	border-bottom: 1px dotted;
	border-top: 1px dotted;
}
.text-contain
{
	font-size: 0.9em;
	float:right;
	padding-bottom: 50px;
}
#related
{
    padding-top: 20px;
}