$def with (params)
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>$params["siteName"] - $params["title"]</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<link rel = "stylesheet" type = "text/css" href = "../style/default.css" />
	<link rel = "stylesheet" type = "text/css" href = "../style/style.css" />
	
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
	</script>
	<script type="text/javascript"
	  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
</head>

<body>

<div id="pre-header"></div>
<div id="header">
<div id="header-text">
<h1><a href = "../">$params["siteName"]</a></h1>
<h3>$params["slogan"]</h3>
</div>
</div>

<div id="post-header">
	<ul id="menu">
        <li><a href = "../">Home</a></li>
		<li><a href = "../static-md/links.md">Links</a></li>        
        <li><a href = "../static-md/about.md">About</a></li>
        <li><a href = "$params['twitterUrl']">Twitter</a></li>
	</ul>  
</div>

<div id="content">
<h3>$params["title"]</h3>
$:params["content"]
</div>

<div id="footer">
</div>

<div id="post-footer">
	<div class="text-contain">
	<p>Copyright $:params["siteName"]. Powered by <a href="http://www.github.com/sgh1/kindablog">kindablog</a></p>
	</div>
</div>

</body>
</html>